/* universal style */

body {
  background-color: white;
  font: 16px;
  font-family: Helvetica;
  color: grey;
}

h2 {
color: #226DFF;
font-size: 1.5rem;
font-weight: bold;
}

h4 {
  color: #0C44B2;
  font-size: 1.3rem;
}

a {
  color: #FFBA22;
}

a:hover {
  color: #CC5E07;
}

.container {
  max-width: 1060px;
  margin: auto;
}

/* header style */

nav {
  width: 100%;
  height: 64px;
}

nav ul.mobile-nav {
  display: none;
}

@media only screen and (max-width: 640px) {
  .full-nav {
    display: none;
  }
  nav ul.mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

nav a {
  color: #2c2c2c;
}

nav a:hover {
  color: #FFBA22;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  padding: 16px 8px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.colmar-title a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c2c2c;
}

.academy-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.hero-section {
  display: flex;
  background-color: #f7f7f7;
  width: 100%;
}

.main-art-img {
  max-height: 25rem;
  width: auto;
  padding: 32px 24px;
}

@media only screen and (max-width: 860px) {
  .hero-section {
    display: block;
    padding: 0;
  }
  .main-art-img {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .hero-title-section {
    width: 100%;
    height: 22rem;
  }
  .hero-title-section h2 {
    padding-top: 1rem;
    text-align: center;
  }
  .hero-title-section h3 {
    padding-top: 1.5rem;
    padding-bottom: .15rem;
    font-size: .75rem;
    text-align: center;
  }
  .hero-btn {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}

.hero-title-section h2 {
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.hero-title-section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  color: grey;
}

.hero-btn {
  padding: 8px 6rem;
  font-size: 1.25rem;
  background-color: #FFBA22;
  border: none;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .4);
}

.hero-btn a {
  color: white;
}

.hero-btn:hover {
  color: white;
  box-shadow: none;
}

.hero-btn:hover {
  transition: box-shadow 250ms linear 5ms;
}

/* main section style */

.main-section {
  display: flex;
}

.main-article {
  max-width: 60%;
}

.main-article-info {
  padding: 0 24px 32px ;
}

.main-article-info h2 {
  padding-bottom: 24px;
}

.main-article-info p {
  padding-bottom: 24px;
}

.main-info-img {
  max-height: 18.5rem;
  width: auto;
  padding: 32px 24px;
}

@media only screen and (max-width: 950px) {
  .main-section {
    display: block;
  }
  .main-article {
    display: none;
  }
  aside {
    display: block;
    width: 400px;
    margin: 0 auto;
  }
  .article-item {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .article-content {
    height: 90%;
    flex-grow: 1;
    margin: 0 auto;
    flex-basis: 15rem;
  }
  .article-item .border {
    width: 100%;
  }
  .article-img {
    display: none;
  }
  img.article-img-mobile {
    display: block;
  }
}

.article-img-mobile {
  display: none;
}

.border {
  border-left: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

.greybg {
  background-color: #f7f7f7;
}

.articles {
  max-width: 40%;
}

.article-img {
  max-height: 7.5rem;
  width: auto;
  padding: 1rem;
}

.article-item {
  display: flex;
  padding-top: 1rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.article-content h4 {
  padding-bottom: .5rem;
}

.article-content p {
  padding-bottom: .5rem;
}

/* learning section style */

@media only screen and (max-width: 900px) {

  .learning-section {
    margin: 0 auto;
  }
  .topic-img {
    display: none;
  }
  .courses {
    display: none;
  }
  .topic-brief {
    display: none;
  }
  .topic-container {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .learning-topics {
    margin: 0 auto;
  }
  .learning-topics h4 {
    background-color: #226DFF;
    text-align: center;
    padding: 1.5rem;
    font-weight: bold;
    color: white;
    min-width: 15rem;
    margin: 0 auto;
  }
}

.learning-section {
  background-color: #f7f7f7;
  padding-bottom: 1rem;
}

.learning-section h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.topic-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.learning-topics {
  max-width: 32%;
  background-color: white;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.topic-img {
  width: 100%;
  height: auto;
}

.courses {
  color: #CC5E07;
}

.learning-topics h4 {
  padding: 1rem .75rem .25rem 1rem;
}

.learning-topics p {
  padding: 0 .75rem .5rem 1rem;
}

p.topic-brief {
  line-height: 1.6;
}

/* thesis style */

video {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.thesis {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.video-title {
  padding-top: 1.5rem;
}

/* footer style */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  border-top: 1px solid #f7f7f7;
}

.copy {
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-size: .75rem;
}

footer li {
  padding-left: 1rem;
  font-size: .75rem;
}

footer a {
  color: grey;
}

a img.topic-img {
  box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}

a img.topic-img:hover {
  box-shadow: none;
  transition: box-shadow 250ms linear 5ms;
}

@media only screen and (max-width: 900px) {
  #video-mobile {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .video-title {
    display: none;
  }
  .footer-art {
    display: none;
  }
  .footer-nav ul {
    display: none;
  }
  .video-ex {
    width: 100%;
  }
}
